<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Form</title>
</head>
<body>

<div th:replace="base :: navlinks"></div>
<br>

<form autocomplete="off" class="form-horizontal" action="#" th:action="@{/process}" th:object="${toDoList}" method="post">


    <!-- Start Title for post-->
    <div class="ui-widget">
        <div class="form-inline">
            <input type="hidden" th:field="*{id}" />
            <label class="control-label col-sm-1">Title:</label>
            <div class="col-auto">
                <input type="text" class="form-control basicAutoComplete" placeholder="Enter Title" th:field="*{title}" />
                <span th:if="${#fields.hasErrors('title')}"
                      th:errors="*{title}"></span><br />
            </div>
        </div>
    </div>
    <!--End title-->
    <br>



    <!--Start posted by-->
    <div class="form-inline">
        <input type="hidden" th:field="*{id}" />
        <label class="control-label col-sm-1" >Posted by:</label>
        <div class="col-auto">
            <input type="text" class="form-control basicAutoComplete"  th:field="*{postedBy}" />
            <span th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}"></span><br />
        </div>
    </div>

    <!--End posted by-->


    <!--Start posted Date-->
    <div class="form-inline">
        <label class="control-label col-sm-1" for="postedDate">Posted date:</label>
        <div class="col-auto">
            <input type="date" class="form-control" id="postedDate" name="postedDate" placeholder="Date format (mm/day/yyyy)" th:field="*{postedDate}"/>
            <span th:if="${#fields.hasErrors('postedDate')}"
                  th:errors="*{postedDate}"></span><br />
        </div>
    </div>
    <!--End PostedBy-->
    <br>


    <!--Start Content-->
    <div class="form-inline">
        <label class="control-label col-sm-1" for="content">Posted date:</label>
        <div class="col-auto">
            <input textarea rows="3" type="text" class="form-control" id="content" name="content" placeholder="Please add your conent" th:field="*{content}"/>
            <span th:if="${#fields.hasErrors('content')}"
                  th:errors="*{content}"></span><br />
        </div>
    </div>
    <!--End content-->


    <br />

    <!--Start submit button-->
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit"  class="btn btn-outline-dark">Submit</button>
        </div>
    </div>
    <!--End Submit button-->
</form>

<div th:replace="base :: footer"></div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>